
body
{
  margin: 0px;
  background-color:#080320;
  font-family: 'Quicksand', sans-serif;
}
#wrapper
{
border: 1px solid #fff;
background-color:	#287a67;
width: 270px;
margin: 0 auto;
min-height: 200px;

}
#show_list
{
    width: 270px;
    margin: 0 auto;
}
#showListBtn
{
    width: 100%;
    font-size: 20px;
    background-color:#404d8b;
    border: none;
    color: #fff;
    box-shadow: -1px 4px 21px 0px rgba(255,15,NaN,1);
    border-radius: 5px;
    padding: 10px 0px;
}

#main-heading
{
    background-color:	#404d8b;
    margin: 0px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

#wrapper input
{
display: block;
width: 90%;
padding: 5px 0px;
margin: 0 auto;
}
#wrapper h3
{
    padding: 5px 0px;
    margin: 0px;
    text-align: center;
    color: #fff;
    font-size: 15px;
}
#wrapper button
{
    width: 70%;
    padding: 10px 0px;
    
}
#Addbtn
{
  
   background-color: 	#f7fbb6;
   border: none;
   color: #000;
   font-size: 15px;
   margin: 10px 40px; 
   border-radius: 5px;
   box-shadow: -1px 4px 21px 0px rgba(0,0,0,0.75);
  
}
#list
{
    width: 270px;
    margin: 0 auto;
    border: 1px solid #000;
   background-color: #eee;
    color:  #000;
    overflow: scroll;
    overflow-x: hidden;
    transition-property: display;
    transition-duration: 1s;
    display:  none;
}

#resultList
{
    list-style-type: none;
  
}
#list input
{
    width: 99%;
    text-align: center;
    font-size: 20px;
}
#resultList li
{
 
 margin-left: -40px;
 padding: 10px 5px;
 text-align: center;
}
#resultList li:nth-child(odd)
{
    background-color: darkgrey;
}
.list_inner
{
    margin: 0px;
    padding: 0px;
}
#list_count
{
    padding: 0px;
    margin: 5px 0px;
    text-align: center;
}
#search_btn
{
    width: 60%;
    font-size: 20px;
   margin-left: 50px;
   border-radius: 10%;
   border: none;
   padding: 0px 20px;
   background-color: #287a67; 
   color: #fff;
  
}
.hide
{
    display: none;
}
#showitem
{
    width: 100%;
    text-align: center;
}